// FONT FAMILY
$font_main: 'Roboto', sans-serif;

// FONT SIZE
$size: 10;
$main_size: 1.8rem;

//FONT WEIGHT
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$black: 900;

// SITE WIDTH
$site_width: 1170;

// COLORS
$white01: #ffffff;
$white02: #eef2f7;
$white03: #eae4d8;

$yellow01: #e8edc9;

$orange01: #ff6b00;
$orange02: #ffd24e;
$orange03: #f4d3bb;
$orange04: #ec9a6a;
$orange05: #e47643;

$red01: #f64d01;

$green01: #9dbd39;
$green02: #c2da79;
$green03: #62bd1f;

$blue01: #e5f5f7;
$blue02: #f0f9f8;
$blue03: #f1f8ff;
$blue04: #ebf3fb;

$grey01: #f64d01;
$grey02: #a3acb5;
$grey03: #d2dce6;
$grey04: #becbd8;

$black01: #000000;
$black02: #383334;
$black03: #444444;
$black04: #666666;

// COLOR MAIN
$color_main: $black03;

